@charset "UTF-8";

/*:root { 이런식으로 전체적으로 줄수있음
  --text-color: #f0f4f5;
  --background-color: #263343; --밑에가서 var(--background-color)요래놓으면 적용
  --accent-color: orange;
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: lightgray;
}*/

body {
	background-image:url("../images/bigblack");
  	margin: 0;
  	background-color: white;
  	font-family: 'Noto Sans KR', sans-serif;
 }
/*상단바 메뉴 시작*/
 .navbar {
 	display: flex;
/*  	width: 70%; */
 	justify-content: center;
 	align-items: center;
 	background-color: white;  /*제목줄 백그라운드 컬러*/
 	padding: 8px 12px;
 }
 
 .navbar-logo a {
	padding-left: 0;
	
 }
 
 a {
 	text-decoration: none;
 	color: black;
 }
 .navbar-menu {
 	list-style: none; /*<li>태그앞에 있는 구분점을 없앰*/
 	display: flex;
 	margin: 0;
 	padding-left: 0;
 }
 .navbar-menu li {
/*  	font-size: 25px; */
 	padding: 8px 30px;
 }
 .navbar-menu li:hover {
 	background-color: orange;
 	border-radius: 3px;
 }
 .navbar-icons {
 	list-style: none; /*<li>태그앞에 있는 구분점을 없앰*/
 	display: flex;
 	color: white;
 	margin: 0;
 	padding-left: 0;
 }
 .navbar-icons li {
 	padding: 8px 12px;
 	margin: 0;
 }
 .navbar-icons li:hover {
 	background-color: orange;
 	border-radius: 3px;
 }
 
 .navbar__toggleBtn {
 		color: orange;
 		position: absolute; /*바에 속해지지않고 독립적으로 사용하기 위해*/
 		right: 32px;
 		font-size: 24px;
 		display: none;
 }
 
 
  

 
 
 @media screen and (max-width: 768px) {
 	
 	.navbar {
 		flex-direction: column;
 		padding: 8px 24px;
 		margin: 0;
 	}
 	.navbar-menu {
 		display: none;
 		flex-direction: column;
 		align-items: center;
 		width: 100%
 	}
 	.navbar-menu li {
 		font-size: 14px;
 		width: 100%;
 		text-align: center;
 	}
 	.navbar-icons {
 		display: none;
 		justify-content: center;
 		width: 100%;
 	}
 	.navbar__toggleBtn {
 		display: block;
 	} /*줄어들면 토글버튼나오게*/
 	.navbar-menu.active,
 	.navbar-icons.active {
 		display: flex;
 	}
 	
 } /*상단바 메뉴끝*/
/*=======================================================*/
/* 왼쪽 메뉴 */
a {
 	text-decoration: none;
 	color: black;
 }
.header {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	background-color: white;  /*제목줄 백그라운드 컬러*/
 	padding: 8px 12px;
 }
.header-login {
	display: flex;
	list-style: none;
	padding-left: 0;
}
.header-login li {
	font-size: 13px;
	padding: 8px 12px;
}
.header-login li:hover {
	background-color: orange;
 	border-radius: 3px;
}

* {
  box-sizing: border-box;
}

.row::after {
/*   content: ""; */
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}




.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    align-items: center;
  }
  
/* .header-login { */
/* 	width: 100%; */
/*     align-items: center; */
/* }   */
}
























