@charset "UTF-8";

.contain-board {
/* 	background-color: grey; */
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 21px;
	padding: 50px 20px 10px 20px;
	
}
.contain-board tr {
	width: 1200px;
	text-align: center;
	
}
textarea {
	width: 700px;
	height: 500px;
	
}
/*  { */
/* 	font-size: 18px; */
/* 	border: 1px; */
/* } */
div#table_search {
	text-align: center;
}
td input {
	width: 700px;
}
tr {
	font-size: 20px;
}

.contain-board td {
	padding: 5px;
}
.btn { /*취소버튼*/
  width: 150px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0px 10px;
  color: white;
  background-color: #659EFF;
  border: none;
  align-items: center;
}

input #file-upload-button {
 background-color: blue;
}





















